.hero {

    &__main {
        
    }
    &__inner {
        position: relative;
    }
    &__image-container {
        position: relative;
        width: 100%;
    }
    &__meta-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.top {
            top: 5%;
            justify-content: flex-start;
        }
        &.bottom {
            top: auto;
            bottom: 5%;
            justify-content: flex-end;   
        }
        &.middle {
            top: auto;
            justify-content: center;                      
        }
        &.left {  
            left: 5%;     
            align-items: flex-start;  
        }
        &.right { 
            left: auto;
            right: 5%;                
            align-items: flex-end;
        }
        &.center {
            left: auto;
            align-items: center;               
        }
    }
    &__title {
        font-size: 50px;
    }
    &__caption {
        font-size: 22px;
    }
   
    &__link {
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 18px;
    }    
}
